@import url(https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Rubik', Prompt, sans-serif;
    color: white;
}

h1 {
    font-family: 'Jost';
}

html {
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 15px;
    }
}

@media screen and (max-width: 465px) {
    html {
        font-size: 14px;
    }
}

body {
    background: #000E23;
}

a {
    color: #3461fd;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

.desc {
    font-size: 1.5rem;
    width: 27.5vw;
    margin-top: 1vh;
}

.container {
    max-width: 1090px;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
}

.fcontainer {
    width: 45vw;
}

.right,
.right * {
    text-align: right;
}

.eventsub {
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: -2vh;
}

.right {
    display: grid;
    grid-template-rows: auto auto auto auto;
    gap: 10vh;
}

.eventtitle {
    font-weight: 200;
    font-size: 7rem;
}

.roundc {
    font-weight: 400;
    font-size: 2rem;
}

.roundtitle {
    font-family: 'Jost';
    font-weight: 200;
    font-size: 4rem;
}

.rounddesc {
    font-size: 1.75rem;
    padding-left: 15vw;
}

.fields {
    display: grid;
    grid-template-columns: auto;
    gap: 2vh;
}

.rdesc {
    display: grid;
    grid-template-columns: auto;
    gap: 2rem;
}

.round h2 {
    margin-top: -2vh;
}

.lcontf {
    display: grid;
    grid-template-rows: auto;
    height: 50vh;
    gap: 5vh;
}

.page-title {
    font-weight: 600;
    font-size: 2rem;
    color: #3461fd;
}

.page-desc {
    font-weight: 400;
    font-size: 1rem;
    color: #404040;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 20rem;
    width: 100%;
    position: relative;
}

.inp {
    border: 2px solid white;
    border-radius: 1px;
    width: 20vw;
    height: 4rem;
    font-size: 1.25rem;
    padding: 1vh 1vw;
}

.inp:active {}

.inp:focus {
    border: 2px solid #aaaaee;
}


/* .form input:not(.btn) {
    width: 100%;
    display: block;
    font-size: 1rem;
    padding: 0.75rem 1rem;
    border: 1px solid #f9fbfc;
    background: #f9fbfc;
    border-radius: 0.5rem;
    transition: all 0.25s ease 0s;
    color: #212325;
    box-shadow: 1px 2px 4px 0px #0b163c40;
}

.form input:focus:not(.btn) {
    border-color: #3461fd;
    box-shadow: 1px 2px 4px 0px #0b163c40, 0 0 0 3px #3461fd80;
} */

.btn {
    width: 100%;
    display: block;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.75rem 1rem;
    border: 1px solid #3461fd;
    background: #3461fd;
    border-radius: 0.5rem;
    transition: all 0.25s ease 0s;
    color: #e9eff2;
    cursor: pointer;
    box-shadow: 0px 3px 5px 0px #3461fd40;
}

.btn:hover,
.btn:focus {
    background: #3461fddd;
    border-color: #3461fddd;
    box-shadow: 0px 3px 5px 0px #3461fd40, 0 0 0 3px #3461fd80;
}

.forgot-link {
    font-size: 0.85rem;
    width: 100%;
    text-align: end;
}

.form-link-holder {
    font-size: 0.9rem;
    color: #404040;
}

.error-noti {
    background: #dc3535;
    padding: 1rem;
    max-width: 20rem;
    width: 100%;
    border-radius: 0.5rem;
    color: #e9eff2;
    box-shadow: 0px 3px 5px 0px #3461fd40;
}

.error-input {
    border-color: #dc3535 !important;
}

.error-input:focus {
    box-shadow: 1px 2px 4px 0px #0b163c40, 0 0 0 3px #dc353580 !important;
}

.loginbutton {
    background-color: #aaa;
    color: #000E23;
    width: 7.5vw;
    height: 3rem;
    padding: 1vh 1vw;
    font-size: 1.25rem;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
}

.loginbutton:hover {
    background-color: #888;
}

.loginbutton:active {
    background-color: #555;
}

.logintitle {
    font-weight: 400;
    font-size: 4rem;
}